@page "/traincars/delete/{Id:int}"
@using BusinessLayer;
@using ServiceLayer;
@inject GenericManager<TrainCar, int> trainCarManager;
@inject NavigationManager navigationManager;

<h3>Delete</h3>

<h4>Train car</h4>
<hr />

<div class="row">
	<div class="col-md-4">
		<EditForm Model="@Model" OnValidSubmit="OnDeleted">
			<DataAnnotationsValidator />
			<ValidationSummary />
			<div class="form-group">
				<label class="control-label"></label>
				<span class="form-control">@Model.Id</span>
				<ValidationMessage For=@( () => Model.Id) />
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Delete" class="btn btn-primary" />
			</div>

		</EditForm>
	</div>
</div>

<div>
	<a href="traincars">Back to List</a>
</div>
@code {
	TrainCar Model = new();

	[Parameter]
	public int Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Model = await trainCarManager.ReadAsync(Id, true, false);
	}

	async Task OnDeleted()
	{
		try
		{
			await trainCarManager.DeleteAsync(Model.Id);
			navigationManager.NavigateTo("traincars");
		}
		catch (Exception ex)
		{
			throw ex;
		}
	}
}
